<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inventory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CRUD</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <table class="responsive-table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Element</th>
          <th>Monster</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let weapon of weapons; let weaponIndex = index">
          <td>{{ weapon.type }}</td>
          <td>{{ weapon.element }}</td>
          <td>{{ weapon.monster }}</td>
          <td>
            <ion-button (click)="updWeapon(weaponIndex)">Update</ion-button>
            <ion-button (click)="delWeapon(weapon.id)">Delete</ion-button>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="aviso">You are updating an entry, if you want to go back to create an entry, click reset</div>
    <div id="error">Your data is not valid</div>
    <form>
      <ion-item>
        <ion-input name="type" [(ngModel)]="type" placeholder="Longsword, bow..." label="Type"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-input name="element" [(ngModel)]="element" placeholder="Fire, water..." label="Element"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="monster" [(ngModel)]="monster" placeholder="Jagras, Barioth..." label="Monster"></ion-input>
      </ion-item>
      <ion-button (click)="onSubmit()">Submit</ion-button>
    </form>
    <ion-button (click)="refreshTable()">Refresh</ion-button>
    <ion-button (click)="reset()">RESET</ion-button>
  </div>
</ion-content>